<footer class="footer">
  <div class="container">
    <h2 class="footer__header">
      Контакты
    </h2>
    <div class="footer__info">
      <p class="footer__info-text">
        I'm currently looking to join a cross-functional team that values improving people's lives
        through accessible design. or have a project in mind? Let's connect.
      </p>
      <p class="footer__info-text">
        mazdozavr@gmail.com
      </p>
      <div class="footer__bottom">
        <a href="" class="footer__bottom-link">
          <img class="footer__bottom-img" src="images/social/instagram.png" alt="фото иконки инстаграмм">
        </a>
        <a href="" class="footer__bottom-link">
          <img class="footer__bottom-img" src="images/social/viber.svg" alt="">
        </a>
        <a href="" class="footer__bottom-link">
          <img class="footer__bottom-img" src="images/social/telegram.svg" alt="">
        </a>
        <a href="" class="footer__bottom-link">
          <img class="footer__bottom-img" src="images/social/whatsapp.svg" alt="">
        </a>
      </div>
    </div>
  </div>
</footer>