<header class="header">
  <div class="container header__container">
    <button class="header__burger-btn" id="burger">
      <span></span>
      <span></span>
      <span></span>
    </button>
    <a href="#" class="logo">
      <img class="logo__img" src="images/ico/logo.png" alt="логотип" width="35" height="39">
    </a>
    <nav class="menu">
      <ul class="menu__list">
        <li class="menu__item">
          <a class="menu__item-link" href="#">Главная</a>
        </li>
        <li class="menu__item">
          <a class="menu__item-link" href="#">Обо мне</a>
        </li>
        <li class="menu__item">
          <a class="menu__item-link" href="#">Мои работы</a>
        </li>
        <li class="menu__item">
          <a class="menu__item-link" href="#">Контакты</a>
        </li>
      </ul>
    </nav>
  </div>

</header>