<header class="header">
  <div class="container">
    <div class="header__container">

      <div class="header__menu">

        <a href="#" class="logo">
          <img class="logo__img" src="images/ico/logo.png" alt="логотип" width="35" height="39">
        </a>
        <ul class="menu__list">
          <li class="menu__item">
            <a class="menu__item-link" href="#">Главная</a>
          </li>
          <li class="menu__item">
            <a class="menu__item-link" href="#">Обо мне</a>
          </li>
          <li class="menu__item">
            <a class="menu__item-link" href="#">Мои работы</a>
          </li>
        </ul>
        <button class="burger" type="button">
          <span class="burger__line"></span>
          <span class="sr-only">Открыть меню</span>
        </button>
      </div>
    </div>
  </div>
</header>