<section class="education">
  <div class="container">
    <div class="education__content">

      <h2 class="education__title title">
        Прошел обучение и сертификацию:
      </h2>

      <div class="swiper education__box">
        <ul class="swiper-wrapper education__items">
          <li class="education__item swiper-slide">
            <div class="education__item-inner">

              <img class="education__items-img" src="images/course/js2.0.png" alt="фото сертификата">
            </div>

          </li>
          <li class="education__item swiper-slide">
            <div class="education__item-inner">
              <img class="education__items-img" src="images/course/js_array.png" alt="фото сертификата">
            </div>

          </li>
          <li class="education__item swiper-slide">
            <div class="education__item-inner">
              <img class="education__items-img" src="images/course/from0to1.jpg" alt="фото сертификата">
            </div>

          </li>
          <li class="education__item swiper-slide">
            <div class="education__item-inner">
              <img class="education__items-img" src="images/course/javapro.png" alt="фото сертификата">
            </div>

          </li>
          <li class="education__item swiper-slide">
            <div class="education__item-inner">
              <img class="education__items-img" src="images/course/javabasis.png" alt="фото сертификата">
            </div>

          </li>
        </ul>
        <!-- <div class="swiper-pagination"></div>
            <div class="swiper__btn">
              <div class="swiper-button-prev swiper__btn-left"></div>
              <div class="swiper-button-next swiper__btn-right"></div>
            </div> -->

      </div>
    </div>
  </div>
</section>