<section class="hero-content">
  <div class="container">
    <div class="hero-content__box">
      <div class="hero-content__elem">
        <img src="images/ico/vector-hero.svg" alt="иконка стрелка">
        <p class="hero-content__elem-text">Привет ! Я <span>Кальчевский Никита</span></p>
      </div>
      <div class="hero-content__content">
        <div class="hero-content__image-box">
          <img class="hero-content__content-img" src="images/my_photos.png" alt="изображение Никиты">
        </div>
        <div class="hero-content__wrap">
          <p> начинающий FrontEnd разработчик, который</p>
          <h1 class="hero-content__text">Воплотит в реальность <br> ваши <span>фантазии...</span> </h1>
          <p>Я уверен мои работы Вас заинтерисуют и впечатлят</p>
        </div>
      </div>

      <div class="hero-content__bottom">
        <h2 class="hero-content__subtitle">
          I'm FrontEnd Developer!!!
        </h2>
        <p>
          в настоящее время я в работаю на freelanse.
        </p>
        <h3 class="hero-content__subtitle-text hero-content__desc">
          Я FrontEnd разработчик который закончил курсы по html, css, js, react. В свободное время прокачиваю свои
          знания самостоятельно.
        </h3>
      </div>
    </div>
  </div>

</section>