<section class="works section">
  <div class="container">
    <h2 class="works__title">
      Прошел обучение и сертификацию:
    </h2>

    <ul class="works__items">
      <li class="works__item">
        <img class="works__item-ico" src="images/ico/icoworks.png" alt="иконка мест работы">
        <div class="works__item-info">
          <h3 class="works__item-title">
            From 0 to 1
          </h3>
          <p class="works__item-subtitle">
            Take your client onboard seamlessly by our amazing
            tool of digital onboard process.

          </p>
          <a class="works__item-link" href="images/course/from0to1.jpg">СЕРТИФИКАТ
          </a>
        </div>
      </li>
      <li class="works__item">
        <img class="works__item-ico" src="images/ico/icoworks.png" alt="иконка мест работы">
        <div class="works__item-info">
          <h3 class="works__item-title">
            Hillel Scholl
          </h3>
          <p class="works__item-subtitle">
            Take your client onboard seamlessly by our amazing
            tool of digital onboard process.

          </p>
          <a class="works__item-link" href="images/course/javapro.png"> СЕРТИФИКАТ
          </a>
        </div>
      </li>
      <li class="works__item">
        <img class="works__item-ico" src="images/ico/icoworks.png" alt="иконка мест работы">
        <div class="works__item-info">
          <h3 class="works__item-title">
            Hillel Scholl
          </h3>
          <p class="works__item-subtitle">
            Основы java, основы ООП.

          </p>
          <a class="works__item-link" href="images/course/javabasis.png">СЕРТИФИКАТ
          </a>
        </div>
      </li>

    </ul>
    <img class="works__skills" src="images/groupskills.png" alt="">
  </div>
</section>